<footer style="display: flex; justify-content: center; align-items: center;">
    <div class="main-footer-container">
        <a href="mailto:suporte@altoinvest.com.br" style="color: #333;">
            <i class="fa-solid fa-at" style="font-size: 30px; margin-right: 10px"></i>
        </a>
        <i class="fa-brands fa-facebook"
            style="color: #333; font-size: 30px; margin-right: 10px; margin-left: 10px;"></i>
        <i class="fa-brands fa-twitter"
            style="color: #333; font-size: 30px; margin-right: 10px; margin-left: 10px;"></i>
        <i class="fa-brands fa-instagram" style="color: #333; font-size: 30px; margin-left: 10px;"></i>
    </div>
</footer>